/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Mexcellent";
  src: url("font/mexcellent/mexcellent\ 3d.otf");
}

@font-face {
  font-family: "Plank";
  src: url("font/mexcellent/PLANK___.TTF");
}

@font-face {
  font-family: "Poppins";
  src: url("font/mexcellent/poppins/Poppins-Black.ttf");
}

* {
  /* outline-style: dashed; */
  font-family: "Mexcellent";
}

body {
  background-color: black;
}

main {
  width: 100%;
  height: 100vh;
  background-image: url("assets/backgrounds.png");
  background-size: 100%;
  background-position: center;
  background-size: contain;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 2rem;
}

#logo {
  font-family: "Plank";
  font-size: 3rem;
  color: white;
}

.nav-bar-item {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.header-item {
  color: white;
  font-style: white;
  font-size: 2rem;
  margin-right: 2rem;
  text-decoration: none;
  background-color: black;
  border: none;
  cursor: pointer;
}

.header-item:hover {
  color: rgb(238, 154, 193);
  transition: 150ms;
}

/* .hero {
  
} */

.pop-up-window {
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;

  height: 50rem;
  width: 70rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  border: solid black;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.close-button {
  height: 4rem;
  aspect-ratio: 1;
  background-color: white;
  cursor: pointer;
  border: none;
  margin-right: 1rem;
}

.pop-up-window-header {
  background-color: white;
  border: solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#pop-up-window-name {
  font-size: 3rem;
  padding: 1rem;
}

#pop-up-window-icon {
  height: 3rem;
  aspect-ratio: 1;
}

.icon-title-pair {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}

.headings {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 3rem;
}

.tool-button {
  font-size: 4rem;
  padding: 1rem;
  background-color: rgb(105, 127, 230);
  border: none;
  color: white;
  font-family: "Poppins";
  border-radius: 10px;
}

.pop-up-window-content {
  margin: 1rem;
}
