@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Mexcellent";
  src: url("font/mexcellent/mexcellent\ 3d.otf");
}

@font-face {
  font-family: "Plank";
  src: url("font/mexcellent/PLANK___.TTF");
}

@font-face {
  font-family: "Poppins";
  src: url("font/mexcellent/poppins/Poppins-Black.ttf");
}

* {
  cursor: url("assets/cursor.png"), auto;
}

main {
  background-color: black;
  width: 100%; 
  height: 100vh; 
  background-image: url(https://media.discordapp.net/attachments/1294354649989644318/1294779918466683053/360_F_819631278_hH9bHaFB4iGOV9uUNzvOb3ZyiWnTjXoA.png?ex=670c4144&is=670aefc4&hm=d02dab136ca812a8ca9e8890e85f0d761bd7705c851beca3250177061d498c59&=&format=webp&quality=lossless&width=940&height=537);
  background-size: 100%; 
  background-position:center; 
  background-repeat: no-repeat;
}

main {
  width: 100%;
  height: 100vh;
  background-image: url("assets/backgrounds.png");
  background-size: 100%;
  background-position: center;
  background-size: contain;
}

.nav-bar {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 2rem;
  font-family: "Press Start 2P", cursive;
  background-color: black;
}

#logo {
  font-family: "Plank";
  font-size: 3rem;
  color: white;
}

.nav-bar-item {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.header-item {
  color: white;
  font-style: white;
  font-size: 2rem;
  margin-right: 2rem;
  text-decoration: none;
  background-color: black;
  border: none;
  cursor: url("assets/pointer.png");
}

.header-item:hover {
  color: rgb(238, 154, 193);
  transition: 150ms;
}

.pop-up-window {
  background: rgb(48, 43, 99);
  background: linear-gradient(
    135deg,
    rgba(48, 43, 99, 1) 0%,
    rgba(127, 90, 131, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;

  height: 50rem;
  width: 70rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* visibility: hidden; */
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.close-button {
  height: 4rem;
  aspect-ratio: 1;
  background-color: white;
  cursor: url("assets/pointer.png");
  border: none;
  margin-right: 1rem;
}

.pop-up-window-header {
  background-color: white;
  border: solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Press Start 2P", cursive;
}

#pop-up-window-name {
  font-size: 3rem;
  padding: 1rem;
}

#pop-up-window-icon {
  height: 3rem;
  aspect-ratio: 1;
}

.icon-title-pair {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}

.headings {
  font-family: "Press Start 2P", cursive;
  font-weight: normal;
  font-size: 2.5rem;
  color: #00ffb2;
}

.content {
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
  color: #ff00ff;
}

.text-background {
  background-color: white; 
  padding: 10px;          
  border-radius: 4px;     
  display: inline-block;   
  margin: 10px 0;         
}

.tool-button {
  font-size: 4rem;
  padding: 1rem;
  background-color: rgb(105, 127, 230);
  border: none;
  color: white;
  font-family: "Poppins";
  border-radius: 10px;
}

.pop-up-window-content {
  margin: 1rem;
  overflow-y: auto; 
}

.big-button {
  font-size: 2rem;
}

#news {
  background-color: white;
  border: 2px dashed #000080;
  margin: 20px;
  padding: 10px;
  overflow-y: scroll; 
}

.news-item {
  border-bottom: 1px solid #000080;
  padding: 10px 0;
}

.news-item h3 {
  font-size: 1.5em;
  color: #0f0c29;
}

.news-item a {
  color: #000080;
  text-decoration: underline;
}

